<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            flex-direction: column;
        }
    </style>
    <title>Document</title>
</head>
<body>
    
    <div style="padding: 2rem;">
        <h1>Login</h1>
        <input type="text" id="username" placeholder="username">
        <input type="text" id="pass" placeholder="pass">
        <button onclick="login()">LOGIN</button>
    </div>

    <div style="padding: 2rem;">
        <h1>Request</h1>
        <input type="text" placeholder="action" id="action">
        <input type="number" id="target" placeholder="target">
        <input type="text" placeholder="position" id="pos">
        <input type="datetime-local" id="d">
        <button onclick="add()">SEND</button>
    </div>
        <input type="number" id="taskgroup">
    <button onclick="connictSocket()">CONNECT</button>
    <button onclick="disc()">DISCONNECT</button>



    <script>
        async function login(){
            username = document.getElementById('username').value;
            pass = document.getElementById('pass').value;
            fetch('http://' + window.location.host +'/account/login/', {
                headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
                method: 'POST',
                body: JSON.stringify({username: username, password: pass})
            }).then(res => res.json()).then(
                data => console.log(data)
            )
        }


        let socket;
        function connictSocket(){
            taskgroup = document.getElementById('taskgroup').value;
            socket = new WebSocket('ws://' + window.location.host + '/ws/taskgroup/' + taskgroup + '/');
            socket.onclose = (event) => {
                console.log(event.code);
            }
            socket.onmessage = (event) => console.log(event.data);
        
        }

        function disc(){
            socket.close();
        }

        function add(){
            action = document.getElementById('action').value || '';
            target = document.getElementById('target').value || 0;
            pos = document.getElementById('pos').value;
            d = document.getElementById('d').value;
            socket.send(JSON.stringify({
                "action": "edit",
              "target": target,
                "data": {
                    "task": "Changed",
                    "description": "No",
                    "due": d,
                    "comment": "HALA"
                }

            }))
        }

    </script>


</body>
</html>